<p-menubar #menu [model]="menuItems" styleClass="bni-skin">
  <ng-template pTemplate="start">
    <a
      routerLink="/discover"
      class="bni-nav-logo"
      aria-label="Blueprint Not Included"
    >
      <img
        class="bni-nav-mark"
        src="assets/images/ui/manual/logo.png"
        alt=""
        width="32"
        height="32"
      />
      <span class="bni-nav-wordmark"
        >BLUEPRINT <em class="bni-nav-not">NOT</em> INCLUDED</span
      >
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <app-user-menu
      (about)="onUserMenuAbout()"
      (sendFeedback)="onUserMenuSendFeedback()"
      (myBlueprintsRequested)="onMyBlueprintsRequested($event)"
    ></app-user-menu>
  </ng-template>
</p-menubar>

<input
  type="file"
  id="fileChooser"
  accept=".yaml"
  style="display: none"
  (change)="templateUpload($event)"
/>
<input
  type="file"
  id="fileChooserJson"
  accept=".json,.blueprint"
  style="display: none"
  (change)="templateUploadJson($event)"
/>
<input
  type="file"
  id="fileChooserBson"
  accept=".blueprint"
  style="display: none"
  (change)="templateUploadBson($event)"
/>
