<p-menubar #menu [model]="menuItems">
  <ng-template pTemplate="start">
    <ng-container *ngIf="authService.isAlpha()">
      <a routerLink="/discover" class="site-logo">
        <img
          src="assets/images/ui/manual/Favicon_blueprint_oxygen-32x32.png"
          alt="BNI"
          height="28"
        />
      </a>
      <a routerLink="/discover" routerLinkActive="active" class="nav-tab" i18n
        >Discover</a
      >
      <a routerLink="/editor" routerLinkActive="active" class="nav-tab" i18n
        >Editor</a
      >
    </ng-container>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="menu-line">
      <app-user-menu
        (sendFeedback)="onUserMenuSendFeedback()"
        (myBlueprintsRequested)="onMyBlueprintsRequested($event)"
      ></app-user-menu>
    </div>
  </ng-template>
</p-menubar>

<input
  type="file"
  id="fileChooser"
  accept=".yaml"
  style="display: none"
  (change)="templateUpload($event)"
/>
<input
  type="file"
  id="fileChooserJson"
  accept=".json,.blueprint"
  style="display: none"
  (change)="templateUploadJson($event)"
/>
<input
  type="file"
  id="fileChooserBson"
  accept=".blueprint"
  style="display: none"
  (change)="templateUploadBson($event)"
/>
