<form [formGroup]="saveBlueprintForm" (ngSubmit)="onSubmit()">
  <p-dialog
    #saveDialog
    [header]="dialogHeader"
    [(visible)]="visible"
    [modal]="true"
    [dismissableMask]="true"
    [closable]="true"
    [focusOnShow]="false"
    [maximizable]="false"
    [draggable]="false"
    [resizable]="false"
  >
    <br />
    <span class="p-float-label">
      <input type="text" size="60" formControlName="name" pInputText />
      <label for="inputtext" i18n>Blueprint name</label>
    </span>
    <div
      *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
      class="error-red"
    >
      <div *ngIf="f.name.errors?.['required']" i18n>
        Blueprint name is required.
      </div>
      <div *ngIf="f.name.errors?.['invalidChars']" i18n>
        Invalid characters in blueprint name
      </div>
      <div *ngIf="f.name.errors?.['tooLong']" i18n>
        Blueprint name is too long
      </div>
    </div>

    <div class="metadata-fields" *ngIf="authService.isAlpha()">
      <div class="metadata-row">
        <span class="p-float-label">
          <textarea
            rows="2"
            formControlName="description"
            pTextarea
            maxlength="500"
            style="width: 100%"
          ></textarea>
          <label i18n>Description (optional)</label>
        </span>
      </div>
      <div class="metadata-row metadata-row--inline">
        <span class="p-float-label">
          <p-select
            formControlName="category"
            [options]="categoryOptions"
            [showClear]="true"
            placeholder=" "
            optionLabel="label"
            optionValue="value"
            (onChange)="onCategoryChange()"
          ></p-select>
          <label i18n>Category</label>
        </span>
        <span class="p-float-label" *ngIf="subcategoryOptions.length > 0">
          <p-select
            formControlName="subcategory"
            [options]="subcategoryOptions"
            [showClear]="true"
            placeholder=" "
            optionLabel="label"
            optionValue="value"
          ></p-select>
          <label i18n>Subcategory</label>
        </span>
      </div>
      <div class="metadata-row metadata-row--inline">
        <span class="p-float-label">
          <p-select
            formControlName="gameVersion"
            [options]="gameVersionOptions"
            placeholder=" "
            optionLabel="label"
            optionValue="value"
          ></p-select>
          <label i18n>Game version (auto-detected)</label>
        </span>
        <label class="metadata-checkbox">
          <p-checkbox formControlName="modded" [binary]="true"></p-checkbox>
          <span i18n>Modded (auto-detected)</span>
        </label>
      </div>
    </div>

    <div *ngIf="overwrite" class="error-red" i18n>
      You already have a blueprint with this name. Overwrite?
    </div>
    <div *ngIf="!authService.isLoggedIn()" class="error-red" i18n>
      You must be logged in to save a blueprint
    </div>

    <ng-template pTemplate="footer">
      <p-button
        *ngIf="!overwrite"
        type="submit"
        [label]="saveLabel"
        [icon]="icon"
        [disabled]="disabledSaveButton"
      ></p-button>
      <button
        *ngIf="overwrite"
        type="button"
        pButton
        icon="pi pi-times"
        (click)="doNotOverwrite()"
        i18n-label
        label="No"
        class="ui-button-danger"
      ></button>
      <button
        *ngIf="overwrite"
        type="button"
        pButton
        [icon]="working ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
        (click)="doOverwrite()"
        i18n-label
        label="Yes"
        [disabled]="disabledSaveButton"
      ></button>
    </ng-template>
  </p-dialog>
</form>
