<p-dialog
  #saveDialog
  i18n-header
  header="Get shareable url"
  [(visible)]="visible"
  [modal]="true"
  [dismissableMask]="true"
  [closable]="true"
  [focusOnShow]="false"
  [maximizable]="false"
  [draggable]="false"
  [resizable]="false"
>
  <div i18n>Use the following url to share this blueprint :</div>
  <input
    #urlInput
    class="float-input"
    type="text"
    size="60"
    [ngModel]="url"
    pInputText
    [disabled]="url === ''"
  />
  <button
    pButton
    type="button"
    class="ui-button copy-button"
    icon="pi pi-clone"
    (click)="copyToClipboard(urlInput)"
    i18n-pTooltip
    pTooltip="Copy url to clipboard"
    [disabled]="url === ''"
  ></button>
  <button
    pButton
    type="button"
    class="ui-button copy-button"
    icon="pi pi-external-link"
    (click)="newTab()"
    i18n-pTooltip
    pTooltip="Open in new tab"
    [disabled]="url === ''"
  ></button>
  <button
    pButton
    type="button"
    class="ui-button copy-button"
    icon="fab fa-reddit"
    (click)="shareToReddit()"
    i18n-pTooltip
    pTooltip="Share to Reddit"
    [disabled]="url === ''"
  ></button>
</p-dialog>
