<div #selectToolCard class="box-card ui-widget">
  <div class="box-card-title" i18n>Select Tool</div>
  <div class="button-line">
    <button
      pButton
      type="button"
      class="ui-button"
      icon="pi pi-chevron-down"
      (click)="itemGroupeNext()"
      i18n-pTooltip
      pTooltip="Select next item group"
      tooltipEvent="both"
    ></button>
    <button
      pButton
      type="button"
      class="ui-button buttonspace"
      icon="pi pi-chevron-up"
      (click)="itemGroupePrevious()"
      i18n-pTooltip
      pTooltip="Select previous item group"
      tooltipEvent="both"
    ></button>
    <button
      pButton
      type="button"
      class="ui-button buttonspace"
      icon="pi pi-trash"
      (click)="destroyAll()"
      i18n-pTooltip
      pTooltip="Destroy every item group"
      tooltipEvent="both"
    ></button>
  </div>
  <div class="scrollable">
    <p-accordion
      #buildingsAccordion
      [value]="activePanels"
      [multiple]="true"
      [transitionOptions]="'0ms'"
      (valueChange)="onPanelChange($event)"
    >
      <p-accordion-panel
        *ngFor="
          let itemCollection of toolService.selectTool.sameItemCollections;
          let i = index
        "
        [value]="i"
      >
        <p-accordion-header>{{ itemCollection.header }}</p-accordion-header>
        <p-accordion-content>
          <app-item-collection-info [itemCollection]="itemCollection">
          </app-item-collection-info>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
  </div>
</div>
