.rightHandCells {
  padding-left: 10px;
  width: 100%;
}

.scrollable {
  overflow-y: auto;
  max-height: 60vh;
}

.building-panel-content {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.element-button-width {
  width: 100%;
  height: 50px;
  padding: 5px;
}

.element-button {
  height: 50px;
  padding: 5px;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
}

.error-red {
  color: var(--p-red-500);
  text-align: justify;
}

.secondary-costs {
  margin-top: 10px;
}

.secondary-cost-item {
  margin-bottom: 5px;
}

.non-selectable {
  opacity: 0.7;
  cursor: default;
  pointer-events: none;
}

.generic-icon {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  box-shadow:
    inset 0 0 0 1px rgba(0, 0, 0, 0.2),
    0 0 0 1px rgba(255, 255, 255, 0.2);
}
