<div #selectToolCard class="box-card ui-widget">
  <div class="box-card-title" i18n>Build Tool</div>
  <div *ngIf="databaseLoaded">
    <div
      class="ui-clickable-icon element-button-width"
      (click)="showCategories($event)"
      style="margin-bottom: 5px"
    >
      <div class="building-panel-content">
        <img
          *ngIf="!currentItem.isElement"
          src="{{ currentItem.iconUrl }}"
          height="40px"
        />
        <app-element-icon
          *ngIf="currentItem.isElement"
          [element]="currentItemToBuild.buildableElements[0]"
          [width]="'40px'"
          [height]="'40px'"
        >
        </app-element-icon>
        <div class="left"></div>
        <div>{{ currentItem.name }}</div>
        <div class="right"></div>
      </div>
    </div>

    <div *ngIf="currentItem.orientations.length > 1" i18n>
      Press "O" to change item orientation
    </div>
    <div
      *ngIf="!currentItemToBuild.buildCandidateResult.canBuild"
      class="error-red"
    >
      {{ currentItemToBuild.buildCandidateResult.cantBuildReason }}
    </div>

    <app-buildable-element-picker
      [currentElement]="currentItemToBuild.buildableElements"
      [buildableElementsArray]="currentItem.buildableElementsArray"
      [isGasLiquid]="isGasLiquid"
      (changeElement)="changeElement($event)"
    >
    </app-buildable-element-picker>

    <div
      *ngIf="(currentItem?.secondaryMaterialCosts?.length || 0) > 0"
      class="secondary-costs"
    >
      <fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all">
        <legend
          class="ui-fieldset-legend ui-corner-all ui-state-default ui-unselectable-text"
        >
          <span class="ui-fieldset-legend-text" i18n>Additional Costs</span>
        </legend>
        <div class="ui-fieldset-content-wrapper">
          <div class="ui-fieldset-content">
            <div
              *ngFor="let cost of currentItem.secondaryMaterialCosts"
              class="secondary-cost-item"
            >
              <div class="element-panel-content non-selectable">
                <app-element-icon
                  *ngIf="cost.element.iconUrl"
                  [element]="cost.element"
                  [width]="'40px'"
                  [height]="'40px'"
                ></app-element-icon>
                <div
                  *ngIf="!cost.element.iconUrl"
                  class="generic-icon"
                  [style.background-color]="
                    '#' + cost.element.color.toString(16).padStart(6, '0')
                  "
                ></div>
                <div class="left"></div>
                <div>{{ cost.element.name }}</div>
                <div class="right"></div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <app-temperature-picker
      [blueprintItem]="currentItemToBuild"
      [temperatureWarning]="false"
    >
    </app-temperature-picker>

    <app-ui-screen-container [blueprintItem]="currentItemToBuild">
    </app-ui-screen-container>

    <!-- These go first so we don't have to add one to the index when querying them -->
    <p-popover
      [appendTo]="'body'"
      *ngFor="
        let buildMenuCategory of buildMenuCategories;
        let indexCategory = index
      "
    >
      <div
        *ngFor="let itemArray of items[indexCategory]"
        class="building-panel-content"
      >
        <div
          *ngFor="let item of itemArray"
          class="ui-clickable-icon element-button"
          (click)="chooseItem(item)"
          [pTooltip]="itemTooltip(item)"
          tooltipPosition="bottom"
          tooltipEvent="both"
          life="5000"
        >
          <img src="{{ item.iconUrl }}" height="40px" />
        </div>
      </div>
    </p-popover>
  </div>
</div>

<p-popover #categoryPanel [appendTo]="'body'">
  <div class="building-panel-content">
    <div
      class="ui-clickable-icon element-button"
      (click)="paintElement()"
      i18n-pTooltip
      pTooltip="Paint Element"
      tooltipPosition="bottom"
      tooltipEvent="both"
      life="5000"
    >
      <img src="assets/images/ui/manual/liquid_icon.png" height="40px" />
    </div>
    <div
      *ngFor="
        let buildMenuCategory of buildMenuCategories;
        let indexCategory = index
      "
    >
      <div
        class="ui-clickable-icon element-button"
        (click)="showItems($event, buildMenuCategory, indexCategory)"
        [pTooltip]="buildMenuCategory.categoryShowName"
        tooltipPosition="bottom"
        tooltipEvent="both"
        life="5000"
      >
        <img src="{{ buildMenuCategory.categoryIconUrl }}" height="40px" />
      </div>
    </div>
  </div>
</p-popover>
