<p-menubar [model]="navItems">
  <ng-template pTemplate="start">
    <a routerLink="/discover" class="bni-nav-logo">
      <img
        class="bni-nav-mark"
        src="assets/images/ui/manual/logo.png"
        alt=""
        width="32"
        height="32"
      />
      <span class="bni-nav-wordmark"
        >BLUEPRINT <em class="bni-nav-not">NOT</em> INCLUDED</span
      >
    </a>
    <ng-container *ngIf="authService.isAlpha()">
      <a
        routerLink="/discover"
        routerLinkActive="active"
        class="bni-nav-tab"
        i18n
        >Discover</a
      >
      <a routerLink="/editor" routerLinkActive="active" class="bni-nav-tab" i18n
        >Editor</a
      >
    </ng-container>
  </ng-template>
  <ng-template pTemplate="end">
    <app-notification-bell
      *ngIf="authService.isLoggedIn()"
    ></app-notification-bell>
    <app-user-menu
      (sendFeedback)="sendFeedback.emit()"
      (myBlueprintsRequested)="myBlueprintsRequested.emit($event)"
    ></app-user-menu>
  </ng-template>
</p-menubar>
