<ng-container *ngIf="authService.isLoggedIn(); else loginButton">
  <p-menu #userMenu [model]="userMenuItems" [popup]="true"></p-menu>
  <button
    *ngIf="isAdmin"
    pButton
    type="button"
    icon="pi pi-star"
    [label]="authService.isAlpha() ? 'Exit Alpha' : 'Enter Alpha'"
    [class]="
      authService.isAlpha()
        ? 'alpha-toggle alpha-active'
        : 'alpha-toggle alpha-inactive'
    "
    (click)="toggleAlpha()"
  ></button>
  <button
    pButton
    type="button"
    class="p-button-secondary"
    icon="pi pi-user"
    [label]="authService.getUserDetails()?.username || ''"
    (click)="userMenu.toggle($event)"
  ></button>
</ng-container>
<ng-template #loginButton>
  <button
    pButton
    icon="pi pi-sign-in"
    i18n-label
    label="Login"
    (click)="login()"
  ></button>
</ng-template>
