<p-menu #userMenu [model]="userMenuItems" [popup]="true"></p-menu>
<ng-container *ngIf="authService.isLoggedIn(); else loginButton">
  <button
    pButton
    type="button"
    class="p-button-secondary"
    icon="pi pi-user"
    [label]="authService.getUserDetails()?.username || ''"
    (click)="userMenu.toggle($event)"
  ></button>
</ng-container>
<ng-template #loginButton>
  <button
    pButton
    icon="pi pi-sign-in"
    i18n-label
    label="Login"
    (click)="login()"
  ></button>
  <button
    pButton
    type="button"
    class="p-button-secondary p-button-text"
    icon="pi pi-ellipsis-v"
    i18n-aria-label
    aria-label="More"
    (click)="userMenu.toggle($event)"
  ></button>
</ng-template>
